CompileFlags:
  CompilationDatabase: build-release
  Add: [
    "-DHWGUTIL_IMPLEMENTATION",
    "-DHWGUTIL_WEBGPU_ENABLED",
    "-DHWGUTIL_MEMS_ENABLED",
    "-DHWSTATS_IMPLEMENTATION"
  ]

Diagnostics:
  Suppress: [unused-function]
  Includes:
    IgnoreHeader:
      - math\.h
